# vscode files
.DS*

# directories to ignore
obj/
.vscode/
build/
docs/html
docs/latex
venv

# testing output to ignore
test/test-output/results
test/test-output/logs
test/test-output/processed-data-results

# object files
*.o

